.sidebar a:hover {
    text-decoration: none;
}

.bg-black {
    background: #202020;
}

#wrapper #content-wrapper {
    background: #303030;
}

.wm-player {
    margin: -15px auto;
    padding: 0 15px;
}

.wm-player-infos {
    display: flex;
}

.wm-player-infos-center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wm-player-commands {
    display: flex;
    flex-direction: column;
}

.wm-player-time {
    margin: -15px auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0 15px;
}

.wm-player-buttons {
    display: flex;
    margin: 5px auto 5px auto;
    width: 300px;
    justify-content: space-around;
}

.wm-player-infos-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.wm-player-infos-titles-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.wm-player h2 {
    font-size: 0.9em;
    font-weight: bold;
    overflow: hidden;
}

.wm-player h3 {
    font-size: 0.7em;
}

.wm-player-timebar-times {
    width: 100%;
    margin-top: -3px;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
}

.btn-discord {
    color: #fff;
    background-color: #7289DA;
    border-color: #fff;
}

.btn-discord:hover {
    color: #fff;
    background-color: #6275b9;
    border-color: #e6e6e6;
}

.btn-discord:focus, .btn-discord.focus {
    color: #fff;
    background-color: #6275b9;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-discord.disabled, .btn-discord:disabled {
    color: #fff;
    background-color: #7289DA;
    border-color: #fff;
}

.btn-discord:not(:disabled):not(.disabled):active, .btn-discord:not(:disabled):not(.disabled).active,
.show > .btn-discord.dropdown-toggle {
    color: #fff;
    background-color: #8690b0;
    border-color: #dfdfdf;
}

.btn-discord:not(:disabled):not(.disabled):active:focus, .btn-discord:not(:disabled):not(.disabled).active:focus,
.show > .btn-discord.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.wm-not-button {
    border: none;
    background: none;
    margin: 0 5px;
    padding: 0;
}

.wm-not-button:hover {
    text-decoration: none;
}

.wm-table-buttons {
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

tr.wm-added-row {
    color: #636363;
}

tr.wm-added-row td {
    color: #636363;
}

.wm-right {
    float: right;
    margin: -4px;
}

tr.wm-row-selected td {
    font-weight: bold;
    background: #464E56;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        background-color: #5A5C69;
        margin-top: -1px;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #E0E0E0;
    border-radius: 10px;
}
input[type="range"]::-moz-range-track {
    background-color: #5A5C69;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #E0E0E0;
    border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
    background-color: #5A5C69;
}

.wm-control {
    font-size: 1.5em;
    color: #5A5C69;
}

.wm-control:hover {
    color: #E0E0E0;
}

.wm-control:disabled {
    color: #41434C;
}

.wm-control-active {
    color: #E0E0E0;
}

.wm-test-sort td {
    padding: 10px;
}

.wm-test-sort td.wm-sort-disabled {
    display: none;
}